.App {
  text-align: center;
}

.cards{
  display: flex;
  justify-content: space-around;
  margin: 10%;
    border-radius: 30px;

}
.card img{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  border-radius: 30px;
}